<responsive-collapsable-box title="Modificar busqueda">
  <search-info filters="vm.searchFilters" ></search-info>
</responsive-collapsable-box>

<div style="padding:5px 0px;" class="visible-lg">
  <sorting-bar  sort-method-selected="vm.sortMethodSelected"></sorting-bar>
</div>


<div class="row">
  <div class="col-xs-12 col-lg-3">
    <responsive-collapsable-box title="Ver hoteles en el mapa">
      <map-component></map-component>
    </responsive-collapsable-box>

    <responsive-collapsable-box title="Filtrar">
      <div style="margin-top:10px;" class="bold-note">Filtrar</div>
      <collapsable-box icon='glyphicon glyphicon-search' title="Nombre del hotel">
        <text-filter-box title="Nombre del hotel" apply-callback="vm.filterByName(text)" input-placeholder="Ingrese el nombre del hotel"></text-filter-box>
      </collapsable-box>

      <collapsable-box icon='glyphicon glyphicon-usd' title="Precio por noche">
        <range-filter-box title="Precio por noche" apply-callback="vm.filterByRange(minValue,maxValue)" range-min="{{vm.searchFilter.minRange}}" range-max="{{vm.searchFilter.maxRange}}" prefix="$" default-min-value="{{vm.searchFilter.minPrice}}" default-max-value="{{vm.searchFilter.maxPrice}}"></range-filter-box>
      </collapsable-box>
      <collapsable-box icon='glyphicon glyphicon-star' title="Estrellas">
        <stars-filter-box apply-callback="vm.filterByStars(stars)"></stars-filter-box>
      </collapsable-box>
    </responsive-collapsable-box>
  </div>
  <div class="col-xs-12 col-lg-9">
    <hotel-preview hotel="hotel" ng-repeat="hotel in vm.hotels | orderBy : vm.sortMethodSelected.propertyName:vm.sortMethodSelected.reverse | RangeFilter: vm.searchFilter.minPrice:vm.searchFilter.maxPrice:'price' | InFilter: vm.searchFilter.stars:'stars' "></hotel-preview>
  </div>
</div>
