$fa-font-path:   "../../bower_components/components-font-awesome/fonts/";
@import "../../bower_components/components-font-awesome/scss/font-awesome.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

body {
  padding-top:90px;

  line-height: 1.5rem;
  font-family: 'Roboto', sans-serif,  'Helvetica Neue', Helvetica, sans-serif;
  background-color: #F4F4F4;

}


a:visited, a:link, a:hover{
  text-decoration:none;

}


.white-box {
  background-color:white;
  box-shadow: 0px 1px 3px 0px rgba(119,119,119,0.3);
  box-sizing: border-box;
  text-align: center;
}

.bold-note {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #444;

  font-weight: bold;
}

.clearfloat{
  clear:both;
}


@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  body {
    padding-top:124px;
  }
  .container-fluid {
    max-width: 1344px;
  }
}
