<div class="collapsable-box">
    <div class="collapsable-title-container" ng-click="vm.toggleVisible()">
      <span class="collapsable-title" ><span ng-class="vm.icon"></span> {{vm.title}}</span>

      <a class="collapsable-title collapsable-toggle-btn" >
        <i ng-class="{'fa fa-sort-desc':!vm.visible,'fa fa-sort-up':vm.visible}" aria-hidden="true"></i>
      </a>
    </div>



  <div ng-if="vm.visible" ng-transclude></div>

</div>

