@import "../styles/variables";

.collapsable-box{
  padding:8px;
  text-align:left;
  background-color:white;
  box-shadow: 0px 1px 3px 0px rgba(119,119,119,0.3);
  box-sizing: border-box;
  text-align:left;
  margin-bottom:10px;
  margin-top:10px;

  .collapsable-title-container {
    text-align:left;
    width:100%;
    cursor:pointer;
    line-height:30px;

    .collapsable-title {
      text-align:left;
      color:#157ab1;
      font-weight: bold;

    }

    .collapsable-toggle-btn {
      float:right;

    }
  }


}

