<div class="row" >
  <div class="col-md-12" style="text-align:right;">
    <div style="float:right;">
      <div style="float:left;height:30px;line-height:30px;margin-right:15px;">Ordenar: </div>
      <select ng-options="sort.label for sort in vm.sortOptions track by sort.id" style="width:130px;display:inline;" class="form-control input-sm" ng-model="vm.sortMethodSelected"></select>
    </div>
  </div>
</div>
