<div class="collapsable-responsive-box hidden-lg" >
    <div class="title-container" ng-click="vm.toggleVisible()">
      <span class="title" > {{vm.title}} </span>

      <a class="title toggle-btn" >
        <i ng-class="{'fa fa-sort-desc':!vm.visible,'fa fa-sort-up':vm.visible}" aria-hidden="true"></i>
      </a>
    </div>



  <div ng-if="vm.visible" ng-transclude></div>

</div>

<div ng-transclude class="visible-lg"></div>
