.collapsable-responsive-box {
  text-align: center;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px; }
  .collapsable-responsive-box .title-container {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    width: 100%;
    cursor: pointer;
    line-height: 50px;
    text-align: center; }
    .collapsable-responsive-box .title-container .title {
      color: #157ab1;
      font-weight: 100; }
