<div class="hotel-preview-box">
  <div class="row">
    <div class="col-xs-12 col-sm-4 ">

      <div class="gallery-images-container">

        <div class="image-top-label" ng-show="vm.hotel.recommended"> <div class="label">¡Hotel recomendado! </div></div>

        <div class="offert" ng-show="vm.hotel.discount>0"> {{vm.hotel.discount}}% OFF</div>

        <div class="image-container">
          <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="image in vm.hotel.url_images" index="$index">
              <img ng-src="{{image}}" style="margin:auto;"/>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xs-12 col-sm-5" >
      <h4>{{vm.hotel.name}}</h4>

      <span class="stars" uib-rating="stars" read-only="true" ng-model="vm.hotel.stars" max="5" aria-labelledby="default-rating" state-off="''" state-on="'glyphicon-star'"></span>
      <br>
      <div class="subnote"> Solo la habitación</div>

      <div class="icon-list">
        <ul>
          <li><i class="fa fa-beer" aria-hidden="true"></i></li>
          <li><i class="fa fa-umbrella" aria-hidden="true"></i></li>
          <li><i class="fa fa-sun-o" aria-hidden="true"></i></li>
          <li><i class="fa fa-support" aria-hidden="true"></i></li>
          <li><i class="fa fa-wifi" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 ">
      <div class="price-column">
        <span class="small-title">Precio por noche por habitación</span>
        <div class="price-container">
          <span class="price-coin">ARS</span><span class="price-value">{{vm.hotel.price}}</span>
        </div>

        <span class="small-title" style="margin-top:20px;">Impuestos y tazas no incluídos</span>
        <br>
        <button class="big-btn">Ver hotel</button>
        <br>
        <span class="bold-note">Pagá en cuotas</span>
      </div>
    </div>
  </div>

</div>

