@import "../styles/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.hotel-preview-box{
  padding:8px;
  text-align:left;
  background-color:white;
  box-shadow: 0px 1px 3px 0px rgba(119,119,119,0.3);
  box-sizing: border-box;

  margin-bottom:16px;
  .gallery-images-container {
    position: relative;
    height:192px;

    .image-container{
      height:192px;
      overflow:hidden;
      position: relative;
      white-space: nowrap;
      z-index: 10;
      img {
        width:100%;
      }
    }

    .image-top-label{
      width:100%;
      position:absolute;
      height:32px;
      text-align:center;
      background-color:#2671DD;
      vertical-align: middle;
      z-index: 20;

      .label {
        font-size:14px;
        line-height:32px;
        margin:0px auto;
        color:#fff;
        font-weight:bold;
      }
    }
    .offert {
      box-sizing: border-box;
      padding-top: 4px;
      width: 40px;
      height: 48px;
      color: #fff;
      text-align: center;
      position: absolute;
      font-size: 14px;
      line-height: 18px;
      z-index: 30;
      top: -8px;
      left: 16px;
      background-color: #509E3C;
      border-radius: 2px 0px 2px 2px;
      font-weight: bold;
    }

    .offert:after {
      content: "";
      position: absolute;
      border-width: 4px;
      border-color: transparent transparent #2D5C23 #2D5C23;
      border-style: solid;
      top: 0;
      right: -8px;
    }
  }

  .stars{
    color:$orange;
    font-size:16px;
  }

  .subnote {
    color: $darkorange;
    font-weight:bold;
    margin:8px 0px;
  }
  .icon-list{
    margin:20px 0px;
    ul {
      list-style: none;
      padding-left:0px;
      li {
        font-size:20px;
        display:inline-block;
      }
    }
  }

  .price-column {
    box-sizing: border-box;
    text-align: center;
    border-top: 1px dashed #CCC;
    min-height:192px;
    padding:5px 5px;
  }
  .small-title {
    font-size:12px;
  }


  .price-container{

    margin:0px;
    margin-top: 20px;
    color: $darkorange;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;;

    .price-value {
      font-size:36px;
      margin-left:5px;
      font-weight:600;
    }

    .price-coin {
      display:inline-block;
      vertical-align: top;
      font-size:26px;
      font-weight:100;

    }
  }

  .button {
    background-color: #777;
    border: 1px solid;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    width:100%;
  }

  .big-btn {

    @extend .button;

    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #002C77;
    height: 40px ;
    font-size: 20px ;
    line-height: 40px;
    padding: 0 16px;
    font-weight: bold;
    -moz-box-shadow: 0 -2px 0 #00163C inset;
    -webkit-box-shadow: 0 -2px 0 #00163C inset;
    box-shadow: 0 -2px 0 #00163C inset;
  }



  @media (min-width: $screen-sm-min) {
    .price-column {
      border:0px;
      border-left: 1px dashed #CCC;
    }
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {

  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: $screen-lg-min) {

  }


}
