.hotel-preview-box {
  padding: 8px;
  text-align: left;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(119, 119, 119, 0.3);
  box-sizing: border-box;
  margin-bottom: 16px;
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */ }
  .hotel-preview-box .gallery-images-container {
    position: relative;
    height: 192px; }
    .hotel-preview-box .gallery-images-container .image-container {
      height: 192px;
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      z-index: 10; }
      .hotel-preview-box .gallery-images-container .image-container img {
        width: 100%; }
    .hotel-preview-box .gallery-images-container .image-top-label {
      width: 100%;
      position: absolute;
      height: 32px;
      text-align: center;
      background-color: #2671DD;
      vertical-align: middle;
      z-index: 20; }
      .hotel-preview-box .gallery-images-container .image-top-label .label {
        font-size: 14px;
        line-height: 32px;
        margin: 0px auto;
        color: #fff;
        font-weight: bold; }
    .hotel-preview-box .gallery-images-container .offert {
      box-sizing: border-box;
      padding-top: 4px;
      width: 40px;
      height: 48px;
      color: #fff;
      text-align: center;
      position: absolute;
      font-size: 14px;
      line-height: 18px;
      z-index: 30;
      top: -8px;
      left: 16px;
      background-color: #509E3C;
      border-radius: 2px 0px 2px 2px;
      font-weight: bold; }
    .hotel-preview-box .gallery-images-container .offert:after {
      content: "";
      position: absolute;
      border-width: 4px;
      border-color: transparent transparent #2D5C23 #2D5C23;
      border-style: solid;
      top: 0;
      right: -8px; }
  .hotel-preview-box .stars {
    color: #FDBA12;
    font-size: 16px; }
  .hotel-preview-box .subnote {
    color: #DF6800;
    font-weight: bold;
    margin: 8px 0px; }
  .hotel-preview-box .icon-list {
    margin: 20px 0px; }
    .hotel-preview-box .icon-list ul {
      list-style: none;
      padding-left: 0px; }
      .hotel-preview-box .icon-list ul li {
        font-size: 20px;
        display: inline-block; }
  .hotel-preview-box .price-column {
    box-sizing: border-box;
    text-align: center;
    border-top: 1px dashed #CCC;
    min-height: 192px;
    padding: 5px 5px; }
  .hotel-preview-box .small-title {
    font-size: 12px; }
  .hotel-preview-box .price-container {
    margin: 0px;
    margin-top: 20px;
    color: #DF6800;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; }
    .hotel-preview-box .price-container .price-value {
      font-size: 36px;
      margin-left: 5px;
      font-weight: 600; }
    .hotel-preview-box .price-container .price-coin {
      display: inline-block;
      vertical-align: top;
      font-size: 26px;
      font-weight: 100; }
  .hotel-preview-box .button, .hotel-preview-box .big-btn {
    background-color: #777;
    border: 1px solid;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    width: 100%; }
  .hotel-preview-box .big-btn {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #002C77;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    padding: 0 16px;
    font-weight: bold;
    -moz-box-shadow: 0 -2px 0 #00163C inset;
    -webkit-box-shadow: 0 -2px 0 #00163C inset;
    box-shadow: 0 -2px 0 #00163C inset; }
  @media (min-width: 768px) {
    .hotel-preview-box .price-column {
      border: 0px;
      border-left: 1px dashed #CCC; } }
