<div class="stars-filter-box">
  <ul>
    <li>
      <input type="checkbox" ng-model="vm.all_stars" ng-change="vm.apply()">
      <span class="bold-note"> Todas las estrellas.</span>
    </li>
    <li ng-repeat="index in [4,3,2,1,0]" >
      <input type="checkbox" ng-model="vm.stars[index]" ng-disabled="vm.all_stars" ng-change="vm.apply()">
      <span class="stars" uib-rating="stars" ng-model="vm.stars_values[index]" read-only="true"  max="5" aria-labelledby="default-rating" state-off="''" state-on="'glyphicon-star'"></span>
    </li>



  </ul>

</div>
