.stars-filter-box ul {
  padding-left: 0px;
  list-style: none;
  margin-top: 10px; }
  .stars-filter-box ul li {
    padding: 5px; }
    .stars-filter-box ul li .stars {
      color: #FDBA12; }
    .stars-filter-box ul li input {
      margin-right: 10px; }
