@import "../styles/variables";

.stars-filter-box {

  ul {
    padding-left:0px;
    list-style: none;
    margin-top:10px;
    li {
      .stars {
        color: $orange;
      }
      padding:5px;
      input {
        margin-right:10px;
      }
    }
  }

}
