.map-component{
  background-color:white;
  box-shadow: 0px 1px 3px 0px rgba(119,119,119,0.3);
  box-sizing: border-box;
  text-align: center;

  .map-preview {
    background-image: url('../../common/images/result-map.png');
    height: 100px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: cover;
  }
  a.link {
    padding: 8px;
    width: 100%;
    cursor: pointer;
    display: block;
  }
}
