<div class="search-info-box">
  <span class="search-info-title">Hoteles disponibles para: </span>
  <br>
  <br>
  <ul>

    <li class="item"> <span class="glyphicon glyphicon-map-marker"></span> {{vm.filters.location}} </li>
    <li class="item"> <span class="glyphicon glyphicon-calendar"></span> {{vm.filters.start_date}} </li>
    <li class="item"> <span class="glyphicon glyphicon-calendar"></span> {{vm.filters.end_date}} </li>
    <li class="item"> <span class="glyphicon glyphicon-user"></span> {{vm.filters.passengers}} huéspedes </li>
    <li class="item">  <a class="link">Modificar búsqueda </a> </li>
  </ul>
</div>
