.search-info-box {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #444;
  border: 1px solid #CCC;
  font-size: 14px;
  background-color: #F4F4F4;
  height: 88px;
  padding: 16px;
  box-sizing: border-box; }
  .search-info-box .search-info-title {
    line-height: 24px;
    font-size: 20px;
    font-weight: normal; }
  .search-info-box ul {
    display: inline;
    padding-left: 0px; }
    .search-info-box ul li {
      list-style: none;
      display: inline-block;
      margin-left: 0;
      margin-right: 2%; }
