@import "../styles/variables";

.range-filter-box {
  padding-bottom:45px;
  .rzslider {
    .rz-pointer {
      top: -14px;
      z-index: 3;
      width: 16px;
      height: 32px;
      cursor: pointer;
      background-color: #ffffff;
      border: 1px solid #444;
      border-radius:8px;
    }
    .rz-pointer:hover {
      border-color:$darkorange;
    }
    .rz-pointer:after {
      display:none;
    }

    .rz-bubble {
      bottom:-35px;
    }
  }

}

