.range-filter-box {
  padding-bottom: 45px; }
  .range-filter-box .rzslider .rz-pointer {
    top: -14px;
    z-index: 3;
    width: 16px;
    height: 32px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #444;
    border-radius: 8px; }
  .range-filter-box .rzslider .rz-pointer:hover {
    border-color: #DF6800; }
  .range-filter-box .rzslider .rz-pointer:after {
    display: none; }
  .range-filter-box .rzslider .rz-bubble {
    bottom: -35px; }
