@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.header{

  max-height: 80px;
  overflow: hidden;

  background-image: url(https://images.almundo.com/205/image/upload/q_auto/v1474474096/static/components/header-bg.jpg);
  background-size: cover;

  .sub-header-top {
    img  {
      float:left;
    }
    height: 80px;
    background: rgba(0,44,119,0.7);
    color: #fff;

    .help-header {
      text-transform: uppercase;
      color: rgb(245, 109, 0);
      font-weight: bolder;
    }

    .menu-header-top{

      padding:  14px 0px;
      a {
        color:white;
      }


    }

    .menu-header-mobile{
      margin:0px;
      float:right;
        li {
          display: inline-block;
        }
    }
  }

  .sub-header-bottom{
    height:34px;
    background-color: rgba(0,44,119,0.4);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);

    .list{
      list-style: none;
      text-align: center;
      margin: 0;

      .item {
        margin: 0;
        display: inline-block;
        font-weight: bold;
        height: 34px;
        line-height: 18px;
        line-height: 1.125rem;
        font-size: 16px;



        a.link {
          color: #fff;
          display: inline-block;
          padding: 8px 20px 8px 20px;
          transition: 0.2s ease-in-out;
          cursor:pointer;
          font-weight: 500;
        }


      }
    }

  }

  .logo-almundo {
    margin-top:28px;
    max-height:20px;
  }

  @media (min-width: $screen-sm-min) {


  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {

  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: $screen-lg-min) {
    max-height: 115px;

    .logo-almundo{
      max-height:48px;
      margin-top:18px;
    }
  }
}



