<nav class="navbar navbar-default navbar-fixed-top header ">
  <div class="sub-header-top">
    <div class="container-fluid">
      <img data-ng-src="common/images/logo-almundo.svg" alt="Almundo.com vacaciones en serio" class="logo-almundo brand-logo" >


      <ul class="nav navbar-nav navbar-right menu-header-top visible-lg">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Ingresar </a></li>
        <li><a href="#"><img data-ng-src="common/images/logo-clubalmundo.svg" alt="club almundo" style="margin-bottom:3px;" ></a></li>
        <li><a href="#">Sucursales</a></li>
        <li><a href="#">Llamanos</a></li>
        <li><a href="#" class="help-header">AYUDA</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right menu-header-top menu-header-mobile hidden-lg" style="font-size:25px;">
        <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></li>


      </ul>


    </div>
  </div>
  <div class="sub-header-bottom visible-lg" >
    <ul class="list">
      <li class="item"><a class="link"> Hoteles</a></li>
      <li class="item"><a class="link"> Vuelos</a></li>
      <li class="item"><a class="link"> Vuelos + Hotel</a></li>
      <li class="item"><a class="link"> Paquetes</a></li>
      <li class="item"><a class="link"> Disney</a></li>
      <li class="item"><a class="link">Escapadas</a></li>
      <li class="item"><a class="link">Seguros</a></li>
      <li class="item"><a class="link">Autos</a></li>
      <li class="item"><a class="link">Cruceros</a></li>
      <li class="item"><a class="link">Ofertas</a></li>
      <li class="item"><a class="link">Mas </a></li>
    </ul>

  </div>
</nav>
