.header {
  max-height: 80px;
  overflow: hidden;
  background-image: url(https://images.almundo.com/205/image/upload/q_auto/v1474474096/static/components/header-bg.jpg);
  background-size: cover;
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */ }
  .header .sub-header-top {
    height: 80px;
    background: rgba(0, 44, 119, 0.7);
    color: #fff; }
    .header .sub-header-top img {
      float: left; }
    .header .sub-header-top .help-header {
      text-transform: uppercase;
      color: #f56d00;
      font-weight: bolder; }
    .header .sub-header-top .menu-header-top {
      padding: 14px 0px; }
      .header .sub-header-top .menu-header-top a {
        color: white; }
    .header .sub-header-top .menu-header-mobile {
      margin: 0px;
      float: right; }
      .header .sub-header-top .menu-header-mobile li {
        display: inline-block; }
  .header .sub-header-bottom {
    height: 34px;
    background-color: rgba(0, 44, 119, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .header .sub-header-bottom .list {
      list-style: none;
      text-align: center;
      margin: 0; }
      .header .sub-header-bottom .list .item {
        margin: 0;
        display: inline-block;
        font-weight: bold;
        height: 34px;
        line-height: 18px;
        line-height: 1.125rem;
        font-size: 16px; }
        .header .sub-header-bottom .list .item a.link {
          color: #fff;
          display: inline-block;
          padding: 8px 20px 8px 20px;
          transition: 0.2s ease-in-out;
          cursor: pointer;
          font-weight: 500; }
  .header .logo-almundo {
    margin-top: 28px;
    max-height: 20px; }
  @media (min-width: 1200px) {
    .header {
      max-height: 115px; }
      .header .logo-almundo {
        max-height: 48px;
        margin-top: 18px; } }
