<div class="text-filter-box">

  <table style="width:100%;margin-top:10px;">
    <tr>
      <td>
        <input class="form-control" placeholder="{{vm.inputPlaceholder}}" ng-model="vm.text">
      </td>
      <td style="width:80px;text-align:right;">
        <button class="btn btn-primary" ng-click="vm.apply()"> Aceptar</button>
      </td>
    </tr>
  </table>
</div>
